.main-building{
    position: relative;height: 500px;overflow: hidden;
background-image: url(../../images/other/about_values_bg.jpg);background-size: cover;background-repeat: no-repeat;
}

.building-text{
    width: 500px;position: absolute;top: 100px;left: 120px;
}

.building-text h2 p{
    font-family: 'Lato';font-size:20px;
}
.building-text h2{
    font-weight: 300;color:#262525
}

.building-text p{
    font-size:14px;color: #6c6c6c;
}