
.butto{
    background: linear-gradient(to right, rgb(21, 142, 223) 50%, white 50%);
    width: 120px !important;height:30px;border:1px solid rgb(34, 37, 39);transition: all .7s ease-out;margin-left: 15px !important;
    background-size: 200% 100%;background-position: right bottom;
    margin-top: 20px;
}

.butto:hover{
    background-position: left bottom;
}
.butto:hover .lin{
    color: white;
}

.lin:hover{
     text-decoration: none;text-transform:uppercase;
}

.lin{
    text-decoration: none;text-transform:uppercase;color: black;
    font-size: 14px;margin-left: 10px;font-family: 'Lato';font-weight: 700;z-index: none;
}

.second-toma-div{
    margin: 50px 100px 50px 150px !important;
   
}

.toma-h3{
    font-family: 'lato';font-size: 28px;    border-bottom: 1px dotted #B7B7B7;margin-top: 10px;
}

.toma-img{
    width:200px;
}


.main-toma{
   
    background-color: #f7f7f7 !important; height:570px;padding-top: 60px;position: relative;
    padding-bottom: 120px;position: relative;

}

.right-toma-div{
     position: absolute;top: 154px;right: 0px;
}
.right-toma{
    z-index: -1; width: 450px;height:410px;
}