
.butto{
    background: linear-gradient(to right, rgb(21, 142, 223) 50%, white 50%);
    width: 110px;height:30px;border:1px solid rgb(34, 37, 39);transition: all .7s ease-out;margin-left: 15px !important;
    background-size: 200% 100%;background-position: right bottom;
    margin-top: 20px;
}

.butto:hover{
    background-position: left bottom;
}

.lin:hover{
    color: white; text-decoration: none;text-transform:uppercase;
}
.lin{
    text-decoration: none;text-transform:uppercase;color: black;
    font-size: 12px;margin-left: 10px;font-family: 'Lato';font-weight: 700;z-index: none;
}

.second-toma-div{
    margin: 50px 100px 50px 150px !important;
   
}

.toma-h3{
    font-family: 'lato';font-size: 22px;    border-bottom: 1px dotted #B7B7B7;margin-top: 10px;
}

.toma-img{
    width:150px;
}


.main-toma{
   
    background-color: #f7f7f7 !important; height:500px;padding-top: 60px;position: relative;padding-bottom: 97px;

}

.right-toma-div{
     position: absolute;top: 190px;left:64%;
}
.right-toma{
    z-index: -1; width: 427px;
}