.main-recentNews{
    padding-top: 80px;
    max-width: 1240px !important;margin: auto ;
}

.recent-butt{
    margin-left: 40%;text-align: center;
    background: linear-gradient(to right, rgb(20, 134, 179) 50%, white 50%);
    width: 110px;height:35px;border:1px solid rgb(19, 20, 22);transition: all .7s ease-out;
    background-size: 200% 100%;background-position: right bottom;
}

.recent-p{
    color: #707070;font-family: 'lato';font-size: 14px;
}
.recent-butt:hover{
    background-position: left bottom !important;
}

.recent-butt:hover .recent-lik{
    color: white;
}
.recent-lik:hover{
     text-decoration: none;text-transform:uppercase;
}
.recent-lik{
    text-decoration: none;text-transform:uppercase;
}

.recent-h2{
    text-align: center;margin-bottom: 20px;text-transform: uppercase;font-family: 'lato';
}

.zoom-div{
  overflow: hidden !important;position: relative !important;
 width: 350px !important; margin-right: 30px !important;
}
.zoom-div a img{
    transition: all 0.6s;  transform: scale(1);width: 340px;
    
}

/* .zoom-div a{
    overflow: hidden !;
} */
.zoom-div a:hover  img{
    transform: scale(1.3);
}
