.second-skill{
    max-width: 1440px;margin-left: 150px ;
    font-family: 'Lato' 'san-serif';margin-top: 60px;
}
.main-skill{
    position: relative;
}
.top-skill{
    width:550px;margin-left: 25%;margin-bottom: 35px !important;
}
.top-skill h2{
font-weight: 300;color:#00346d;text-align: center;margin-bottom: 26px;font-size:40px;
}

.top-skill h2::after{
    height:2px;background-color:black;width: 70px;left:47%;
    content: " ";position: absolute;top: 40px;margin-top: 10px;
}
.top-skill p{
color: #6c6c6c;font-weight: 400;text-align: center;font-size: 16px;
}
.skill-col{
    max-width:370px !important; padding-right: 15px !important;
    margin: 10px 20px;
}
.skill-col h3{
    font-family: 'lato';font-weight: 700;
margin-bottom: 20px;font-size: 18px !important;text-align: center;
}
.skill-col p{

    color: #6c6c6c;font-size: 16px;font-family: 'lato';
}

.right-img{
    position: absolute;top: 358px;right:0px;
}

.right-img img{
    height:370px;width:495px;
}

.font-icon{
    width: 100px !important;height:80px;color: rgb(47, 106, 173);
}

.font-div{
    text-align: center;
}