.second-skill{
    margin: 0px 120px 10px 120px;font-family: 'Lato' 'san-serif';
}
.main-skill{
    position: relative;padding-bottom: 50px;
}
.top-skill{
    width:500px;margin:auto;margin-bottom: 35px !important;
}
.top-skill h2{
font-weight: 300;color:#00346d;text-align: center;margin-bottom: 25px;
}

.top-skill h2::after{
    height:2px;background-color:black;width: 70px;left:47%;
    content: " ";position: absolute;top: 40px;margin-top: 10px;
}
.top-skill p{
color: #6c6c6c;font-weight: 400;text-align: center;font-size: 14px;
}
.row .col-md-4{
    max-width:280px !important; padding-right: 15px !important;
    margin: 10px 20px;
}
.skill-col h3{
    font-family: 'lato';font-weight: 700;
margin-bottom: 20px;font-size: 16px !important;text-align: center;
}
.skill-col p{

    color: #6c6c6c;font-size: 14px;font-family: 'lato';
}

.right-img{
    position: absolute;top: 270px;right:0px;
}

.right-img img{
    height:320px;width:450px;
}

.font-icon{
    width: 60px !important;height:50px;color: rgb(47, 106, 173);
}

.font-div{
    text-align: center;
}